<div class="main_content">
    <div class="d-flex flex-row flex-end justify-content-end">    
        <button type="button" class="btn btn-primary btn-publish">
            Publicar
        </button>
    </div>
    
    <h5 class="heading-inline">Você está personalizando logo</h5>
    
    <div class="customize-favicon">
        <h6 class="customize-title">Ìcone do site</h6>
        <div class="media-preview">
            <div class="customize-icon-preview">
                <div class="favicon-preview">
                    <img src="../../../assets/img/browser.png" alt="browser" class="browser-preview">
                    <div class="favicon">
                        <img src="../../../assets/img/favicon.ico">
                    </div>
                    <span class="browser-title">Crud angular</span>
                </div>                
                <img src="../../../assets/img/favicon.ico" alt="Visualizar como ícone no navegador" class="icon-favicon-preview">
            </div>
            
            <div class="actions">
                <button type="button" class="btn btn-outline-primary btn-sm ms-1 me-3">
                    Remover
                </button>
                <button type="button" class="btn btn-outline-primary btn-sm">
                    Mudar a Imagem
                </button>
            </div>
        </div>                
    </div>

    <div>
        <div class="customize-logo">
            <h6 class="customize-title">Logo</h6>
            <img src="../../../assets/img/logo.png" alt="logo" class="edit-logo">

            <div class="actions">
                <button type="button" class="btn btn-outline-primary btn-sm ms-1 me-3">
                    Remover
                </button>
                <button type="button" class="btn btn-outline-primary btn-sm">
                    Mudar Logo
                </button>
            </div>            
        </div>
    </div>    
</div>

