<div class="container-fluid">
    <header>        
      <nav class="navbar">
        <div class="navbar-logo navbar-brand">
            <span class="icone"></span>
            <span class="navbar-title">
                <img src="../../../assets/img/logo-texto.png" alt="">
            </span>
        </div>
        </nav>
    </header>

    <div class="content">
        <div class="sidebar">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link">
                        <svg></svg>
                        Início
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">
                        <svg></svg>
                        Administração
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">
                        <svg></svg>
                        Produtos
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">
                        <svg></svg>
                        Materiais
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">
                        <svg></svg>
                        Pedidos
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">
                        <svg></svg>
                        Finanças
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">
                        <svg></svg>
                        Relatórios
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">
                        <svg></svg>
                        Logout
                    </a>
                </li>
            </ul>
        </div>
        <main class="main">main</main>
    </div>

    <footer>footer</footer>    
</div>