<div class="main_content">
    <h5 class="heading-inline">Usuários</h5>

    <div class="content-form">
        <form>
            <div class="heading-control-users">
                <ul class="sub-menu-users">
                    <li class="all">
                        <a href="/">
                            <b>
                                Todos 
                                <span class="count">(1)</span>
                            </b>
                        </a>
                    </li>
                    <li>|</li>
                    <li class="admin">
                        <a href="/">
                            Administradores 
                            <span>(1)</span>
                        </a>                    
                    </li>
                </ul>
                <div class="serch-users">
                    <input type="search">
                    <input name="buscar-users" class="btn btn-outline-primary" type="button" value="Pesquisar Usuários">
                </div>
            </div>     
            <div class="toolbar-actions-users">
                <div class="actions-geral">
                    <select class="form-select" name="actions-massa">
                        <option selected>Ações em massa</option>
                        <option value="">Excluir</option>
                        <option value="">Enviar redefinição de senha</option>
                    </select>
                    <input name="actions-users" class="btn btn-outline-primary" type="button" value="Aplicar">
                
                    <select class="form-select" name="function-user">
                        <option value="hide">Alterar função para...</option>
                        <option value="agent">Agent</option>
                        <option value="colaborador">Colaborador</option>
                        <option value="editor">Editor</option>
                        <option value="administrador">Administrador</option>
                    </select>
                    <input name="change-function" class="btn btn-outline-primary" type="button" value="Alterar">
                </div>
                <div class="nav-pages">
                    <span class="display-num"> 2 itens</span>
                </div>
            </div>

            <table>
                <thead>
                    <tr>
                        <th scope="col"><input type="checkbox" name=""></th>
                        <th scope="col">Nome Usuário</th>
                        <th class="regular-col" scope="col">Nome</th>
                        <th class="regular-col" scope="col">E-mail</th>
                        <th class="regular-col" scope="col">Função</th>
                        <th class="regular-col" scope="col">Posts</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>
                            <input type="checkbox" name="">
                        </th>
                        <td>
                            <img src="../../../assets/img/avatar.jpg">
                            <strong>admin</strong>
                            <div class="row-actions">
                                <span class="edit">
                                    <a href="">Editar</a> |
                                </span>
                                <span class="delete">
                                    <a href="">Excluir</a> |
                                </span>
                                <span class="view">
                                    <a href="">Ver</a> |
                                </span>
                                <span class="resetpasswiord">
                                    <a href="">Enviar redefinição de senha</a>
                                </span>
                            </div>
                        </td>
                        <td class="regular-col">
                            admin
                        </td>
                        <td class="regular-col">
                            <a href="mailto:">admin@email.com</a>
                        </td>
                        <td class="regular-col">Administrador</td>
                        <td class="regular-col">
                            0
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox" name="">
                        </td>
                        <td>
                            <img src="../../../assets/img/avatar.jpg">
                            <strong>johnison</strong>
                            <div class="row-actions">
                                <span class="edit">
                                    <a href="">Editar</a> |
                                </span>
                                <span class="delete">
                                    <a href="">Excluir</a> |
                                </span>
                                <span class="view">
                                    <a href="">Ver</a> |
                                </span>
                                <span class="resetpasswiord">
                                    <a href="">Enviar redefinição de senha</a>
                                </span>
                            </div>
                        </td>
                        <td class="regular-col">
                            admin
                        </td>
                        <td class="regular-col">
                            <a href="mailto:">johnison-2@hotmail.com</a>
                        </td>
                        <td class="regular-col">Administrador</td>
                        <td class="regular-col">
                            1
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>        
    </div>    
</div>

